<footer class="footer bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
            <img src="./../../assets/Imagenes/AzentoLogo.png" alt="Logo de la tienda">
          </div>
        <div class="col-md-4">
          <h5 style="color: gray;">Contacto</h5>
          <p>Teléfono: 123-456-7890</p>
          <p>Email: azento@gmail.com</p>
        </div>
        <div class="col-md-4">
          <h5 style="color: gray;">Enlaces</h5>
          
            <p>Inicio</p>
            <p>Productos</p>
            <p>Servicios</p>
            <p>Contacto</p>
         
        </div>
        <div class="col-md-4">
          <h5  class="mb-0" style="color: gray;">Mi cuenta</h5>
            <p (click)="login()">Iniciar sesión</p>
            <p>Registrarse</p>
            <p (click)="pedidos()">Historial de pedidos</p>
        </div>
      </div>
    </div>
    <hr>
    <p class="text-center">© 2023 Azento Todos los derechos reservados.</p>
  </footer>
  