 <!-- Shop Details Section Begin -->
 <app-header-menu></app-header-menu>
 <section class="shop-details">
    <div class="product__details__pic">
        <div class="container">
            <div class="row">
            </div>
            <div class="col-lg-6 col-md-9">
                <div class="tab-content h-100">
                    <div class="tab-pane active h-100" id="tabs-1" role="tabpanel">
                        <div class="product__details__pic__item h-100">
                          <img class="h-100" [src]="'data:image/jpeg;base64,' + product?.imagen" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__details__content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="product__details__text">
                        <h4>{{product.nombre}}</h4>
                        <h3>${{product.precio.toFixed(2)}}</h3>
                        <p>{{product.descripcion}}</p>
                        <div class="product__details__cart__option">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" [(ngModel)]="carritoItem.cantidad" name="quantity">
                                </div>
                            </div>
                            <a (click)="addCartItem(product)" class="primary-btn">Añadir a carrito</a>
                        </div>
                       
                    </div>
                </div>
            </div>
         
        </div>
    </div>
  </section>
  <br><br>