<form (ngSubmit)="onSubmit()">
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" [(ngModel)]="categoria.nombre" name="nombre" required>
  </div>

  <div>
    <label for="imagen">Imagen:</label>
    <input type="file" id="imagen" (change)="onFileChange($event)" name="imagen" required>
  </div>

  <div>
    <label for="activo">Activo:</label>
    <input type="text" id="activo" [(ngModel)]="categoria.activo" name="activo" required>
  </div>

  <button type="submit">Submit</button>
</form>
