<header>
    <div class="logo-container">
        <img src="./../../assets/Imagenes/AzentoLogo.png" alt="Logo de la tienda" class="logo" routerLink="">
    </div>
    <nav>
        <ul class="nav-links">
            <li><a  *ngIf="isAdmin " (click)="producto()">Productos</a></li>
            <li><a  *ngIf="isAdmin "(click)="categoria()">Categorias</a></li>
          
            <li class="spacer"></li>
            <li><a  (click)="verCatalogo()">CATALOGO</a></li>
            <li><a *ngIf="uLog" (click)="pedidos()">TUS PEDIDOS</a></li>
            <li><a *ngIf="!uLog" (click)="login()">LOGIN</a></li>
            <li><a *ngIf="!uLog" (click)="register()">REGISTER</a></li>
            <li><a  (click)="carrito()">CARRITO</a></li>
            <li><a *ngIf="uLog" (click)="logout()">LOGOUT</a></li>
        </ul>
    </nav>
</header>

