<header>
    <div class="logo-container">
        <img src="./../../assets/Imagenes/AzentoLogo.png" alt="Logo de la tienda" class="logo" routerLink="">
    </div>
    <nav>
        <ul class="nav-links">
            <li class="dropdown">
                <a href="">ADMIN</a>
                <ul class="dropdown-menu">
                    <li><a href="">Productos</a></li>
                    <li><a routerLink="categoria">Categorias</a></li>
                </ul>
            </li>
            <li class="spacer"></li>
            <li><a routerLink="login">LOGIN</a></li>
            <li><a  routerLink="register">REGISTER</a></li>
        </ul>
    </nav>
</header>

