<app-header-menu></app-header-menu>
<body>
    <div class="container">
        <header>Registrarse</header>
        <form action="#">
            <div class="form first">
                <div class="details personal">
                    
                    <div class="fields">
                        <div class="input-field">
                            <label>Nombre</label>
                            <input type="text" placeholder="Nombre" required>
                        </div>
                        <div class="input-field">
                            <label>Apellidos</label>
                            <input type="text" placeholder="Apellidos" required>
                        </div>
                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Email" required>
                        </div>
                        <div class="input-field">
                            <label>Contraseña</label>
                            <input type="password" placeholder="Contraseña" required>
                        </div>
                        <div class="input-field">
                            <label> Confirmar contraseña</label>
                            <input type="password" placeholder="Contraseña" required>
                        </div>
                        <div class="input-field">
                            <label>Pais</label>
                            <input type="text" placeholder="Pais" required>
                        </div>
                        <div class="input-field">
                            <label>Dirección</label>
                            <input type="text" placeholder="Dirección" required>
                        </div>
                        <div class="input-field">
                            <label>Codigo Postal</label>
                            <input type="text" placeholder="Codigo Postal" required>
                        </div> 
                        <div class="input-field">
                            <label>Telefono</label>
                            <input type="number" placeholder="Telefono" required>
                        </div>
                    </div>
                </div>
                <div class="details ID">
                   
                    <button class="nextBtn">
                        <span class="btnText">Registrate</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div> 
            </div>
            